// Here you can add other styles

//upload-image design UI

.upload__image-wrapper {
  .upload-container {
    height: 90px;
    margin-bottom: 20px;
  }
  .upload-btn {
    border: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border: 4px dotted black;
  }
  .images-contianer {
    height: 220px;
    overflow: hidden;
    background-color: #efefef;

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      background-color: #f5f5f5;
    }
    &::-webkit-scrollbar {
      width: 5px;
      background-color: #f5f5f5;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: rgba(85, 85, 85, 0.603);
    }

    &:hover {
      overflow-y: scroll;
      -webkit-transition: overflow 0.5s;
      -moz-transition: overflow 0.5s;
      transition: overflow 0.5s;
    }
    .image-item {
      position: relative;
      height: 180px;
      margin: 10px 0;
      cursor: pointer;
      img {
        width: 100%;
        height: 100%;
      }
      .image-item__btn-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgba(128, 128, 128, 0.616);
        height: 100%;
        width: 100%;
        opacity: -1;
        transition: all 350ms ease-in-out;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.modal-header,
.modal-footer {
  background-color: rgb(216, 216, 216);
}

.form-container {
  background-color: rgba(224, 224, 224, 0.877);
}
.login-btn {
  .login-icon {
    left: -15%;
  }
  .label-btn,
  .login-icon {
    transition: all 0.1s ease-in-out;
  }
  &:hover .label-btn {
    margin-left: 10px;
  }
  &:hover .login-icon {
    left: 25%;
  }
}

.left-to-right {
  animation: leftToRight;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  position: relative;
  overflow: hidden;
}

@keyframes leftToRight {
  0% {
    left: -60%;
  }
  100% {
    left: 0%;
  }
}

.right-to-left {
  animation: righToleft;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  position: relative;
  overflow: hidden;
}

@keyframes righToleft {
  0% {
    right: -60%;
  }
  100% {
    right: 0%;
  }
}
.fancy {
  line-height: 0.5;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.fancy:before,
.fancy:after {
  content: "";
  border-top: 1px solid gray;
  margin: 0 20px 0 0;
  flex: 1 0 20px;
}
.fancy:before {
  margin-left: 15px;
}
.fancy:after {
  margin-right: 15px;
  margin-left: 15px;
}
