// Here you can add other styles


//upload-image design UI

.upload__image-wrapper{
    .upload-container{
        height: 100px;
        margin-bottom: 20px;
    }
    .upload-btn{
        border: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        border: 4px dotted black;

    }
    .image-item{
        border:2px solid red;
    }
}