// Here you can add other styles

//upload-image design UI
body {
}
.upload__image-wrapper {
  .upload-container {
    height: 90px;
    margin-bottom: 20px;
  }
  .upload-btn {
    border: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border: 4px dotted black;
  }
  .images-contianer {
    height: 220px;
    overflow: hidden;
    background-color: #efefef;

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      background-color: #f5f5f5;
    }
    &::-webkit-scrollbar {
      width: 5px;
      background-color: #f5f5f5;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: rgba(85, 85, 85, 0.603);
    }

    &:hover {
      overflow-y: scroll;
      -webkit-transition: overflow 0.5s;
      -moz-transition: overflow 0.5s;
      transition: overflow 0.5s;
    }
    .image-item {
      position: relative;
      height: 180px;
      margin: 10px 0;
      cursor: pointer;
      img {
        width: 100%;
        height: 100%;
      }
      .image-item__btn-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgba(128, 128, 128, 0.616);
        height: 100%;
        width: 100%;
        opacity: -1;
        transition: all 350ms ease-in-out;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.modal-header,
.modal-footer {
  background-color: rgb(216, 216, 216);
}

.form-container {
  background-color: rgba(224, 224, 224, 0.877);
}
.login-btn {
  .label-btn {
    font-weight: 400;
  }
}

.left-to-right {
  animation: leftToRight;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  position: relative;
  overflow: hidden;
}

@keyframes leftToRight {
  0% {
    left: -60%;
  }
  100% {
    left: 0%;
  }
}

.right-to-left {
  animation: righToleft;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  position: relative;
  overflow: hidden;
}

@keyframes righToleft {
  0% {
    right: -60%;
  }
  100% {
    right: 0%;
  }
}
.fancy {
  line-height: 0.5;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.fancy:before,
.fancy:after {
  content: "";
  border-top: 1px solid gray;
  margin: 0 20px 0 0;
  flex: 1 0 20px;
}
.fancy:before {
  margin-left: 15px;
}
.fancy:after {
  margin-right: 15px;
  margin-left: 15px;
}

// google and facebook link
.google-link,
.facebook-link {
  padding: 12px 20px;
  margin: 12px 0;
  font-weight: 400;
  .facebook-icon {
    color: blue;
  }
  &:hover .facebook-icon {
    color: white;
  }
}
.google-link:hover {
  background: #e55353;
  color: white;
}
.facebook-link:hover {
  background: rgb(51, 153, 255);
  color: white;
}

// carosuel

.carousel-container {
  height: 450% !important;
  img {
    height: 450px !important;
  }
}

// sidebar scroll
.sidebar-nav {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
  }
  &::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: rgba(85, 85, 85, 0.603);
  }

  // &:hover{
  //     overflow-y: scroll !important;
  //     -webkit-transition: overflow .5s;
  //     -moz-transition: overflow .5s;
  //     transition: overflow .5s;
  // }
}

// border
.border-envelope {
  padding: 12px 16px;
  border: 3px solid transparent;
  background: linear-gradient(white, white) padding-box,
    repeating-linear-gradient(
        -45deg,
        rgba(255, 0, 0, 0.918) 0,
        red 12.5%,
        transparent 0,
        transparent 25%,
        #58a 0,
        #58a 37.5%,
        transparent 0,
        transparent 50%
      )
      0 /3em 3em;
}

//carousel \
.arrow-style {
  // position: 'absolute',
  //         zIndex: "2",
  //         // top: 'calc(50% - 15px)',
  //         width: "30",
  //         height: "100%",
  //         cursor: 'pointer',
  //         border: "none",

  background-color: transparent;
  transition: all 0.25s ease-in;
  opacity: 0.4;
  &:hover {
    background-color: rgba(0, 0, 0, 0.493);
  }
}

// default font
.font-style {
  font-size: 14px;
  font-weight: 500;
}
.side-nav-wrapper {
  margin: 0;
  padding: 0;
  .side-nav-list {
    list-style: none;
  }
  .side-nav-item {
    color: black;
    text-decoration: none;
    &:hover {
      color: rgb(78, 78, 78);
    }
    // &:hover{
    //   color: rgb(0, 11, 58);
    // }
    // a {
    //   text-decoration: none;
    //   color: black;
    //   &:hover{
    //     color: rgb(0, 11, 58);
    //   }
    // }
  }
}

.pagination {
  display: flex;
  list-style: none;
  outline: none;
  margin-bottom: 50px;
  justify-content: end;
}
.pagination > .active > a {
  background-color: #47ccde;
  border-color: #47ccde;
  color: #fff !important;
}
.pagination > li > a {
  border: 1px solid #47ccde;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #47ccde;
  border-color: #47ccde;
  outline: none;
}
.pagination > li > a,
.pagination > li > span {
  color: #47ccde !important;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: unset;
}
.spinner {
  // display: block;
  // position: fixed;
  // z-index: 1031; /* High z-index so it is on top of the page */
  // top: 50%;
  // right: 50%; /* or: left: 50%; */
  // transform: translate(-50%, -50%);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

// category
.category-header {
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
  background-color: #f6f7f9;
  color: #222529;
  margin: 0;
  border: none;
}
.list-container {
  overflow: hidden;
  height: 399px;
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
  }
  &::-webkit-scrollbar {
    width: 3px;
    background-color: #f5f5f5;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: rgba(85, 85, 85, 0.603);
  }

  &:hover {
    overflow-y: scroll;
    -webkit-transition: overflow 0.5s;
    -moz-transition: overflow 0.5s;
    transition: overflow 0.5s;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    .drop-list-item {
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      transition: all 0.5s;
      &:hover {
        background-color: #d8d8d870;
      }
      .list-item-link {
        display: block;
        color: rgb(27, 23, 23);
        font-weight: 600;
        padding: 13px 15px;
        margin: 0 30px;
        cursor: pointer;
        border-top: 1px solid #cecece;
        text-decoration-line: none;
      }
    }
  }
}
.drop-list-item:first-child > .list-item-link {
  border-top: none !important;
}
.search-bar {
  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }
}

.react-search-field {
  width: 100%;
}

/// widgets
.background-img {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  position: absolute;
  height: 105px;
  top: -5%;
  left: 0%;
  width: 100%;
  opacity: 0.4;
  z-index: -1;
}
.revenue,
.product,
.customer,
.purchase {
  border-radius: 5px;
  margin: 10px 0;
  padding: 12px 16px;
  box-shadow: 0px 0px 10px 4px #e0e0e0;
  display: block;
  position: relative;
  overflow: hidden;

  .column-title {
    z-index: 10;
    font-size: 16px;
    font-weight: 630;
    padding: 0px 16px;
    color: rgb(255, 255, 255);
  }
  .column-total-value {
    color: white;
    z-index: 10;
    font-size: 28px;
    font-weight: 800;
    padding: 5px 16px;
  }
}
.column-total-value span:nth-child(2) {
  margin-left: 2px;
}
.revenue {
  background: linear-gradient(to right, #fe9365ce, #feb798c7);
  .column-total-value{
    color: #ff4d00;

  }
}
.product {
  background-image: linear-gradient(to right, #0ac282d0, #0df3a2bd);
  .column-total-value{
    color:#005f3e;
  }
}
.purchase {
  background: linear-gradient(to right, #fe5d70cb, #fe909dbd);
  .column-total-value{
    color:#a32d2d;
  }
}
.customer {
  background: linear-gradient(to right, #01a9acbb, #01dbdfb7);
  .column-total-value{
    color:#02787afb;
  }
}

.spinner {
  display: "block";
   position: "fixed";
  z-index: "1031";
  top: "50%";
  right: "50%"; 
}
/// quantity
$paddingsize: 5px 7px;

.quantity-container{
    display: flex;
    border-radius: 3px;
    margin: 10px 0;
    .decrement-btn, .increment-btn{
        padding:$paddingsize;
        background-color: rgba(216, 216, 216, 0.795);
        color:gray;
        border: 0;
        &:hover{
            color: rgb(247, 247, 247);
            background-color:rgb(192, 192, 192);
        }
    }
    .input-quantity{
        width: 50px;
        text-align: center;
        border-radius: 0;
        border: none;
        background-color: rgb(240, 240, 240);
    }
    .quantity-label{
        text-align: center;
        padding: 5px 0;
        color:gray;
        margin-right: 10px;
    }
}
.input-quantity, .decrement-btn, .increment-btn{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
}